* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
}

header {
    padding-top: 30px;
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

header nav ul {
    display: flex;
    gap: 50px;
    height: 40px;
}

header .logo {
    margin-bottom: 30px;
}

header nav a {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

header .login {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    transition: 0.4s;
    margin-bottom: 29px;
    align-items: center;
}

header .login:hover {
    background-color: greenyellow;
}

header .login:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/Logout.svg");
    margin-right: 4px;
}

header nav li:after {
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 33px;
    transition: 0.4s;
}

header nav li:hover:after {
    width: 100%;
}
.banner {
    display: flex;
    justify-content: space-between;
    height: 450px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
.bannerleft {
    width: 610px;
    height: 450px;
    padding-left: 40px;
    padding-top: 68px;
    margin-right: 93px;
}
.bannerh3 {
    font-family: Cera Pro, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    border: 1px solid #000;
    width: 220px;
    height: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    margin-bottom: 7px;
    margin-left: 3px;
}
.bannerh1 {
    font-family: Cera Pro, sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}
span.letter {
    color: #46a358;
}
.bannerp {
    font-family: Cera Pro, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    width: 557px;
    margin-left: 3px;
    margin-bottom: 44px;
}
.bannerButton {
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    font-family: "Cera Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 13px;
    text-align: center;
}
.bannerButton:active {
    border: 2px solid white;
    color: red;
}
.section1 {
    margin-bottom: 46px;
}